@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', 'Courier New', Courier, monospace, sans-serif;
    scroll-behavior: smooth;
}
:root{
    --b1: #000000;
    --b2: #0f0f0f;
    --b3: #1e1e1e;
    --b4: #2d2d2d;
    --b5: #3c3c3c;
    --b6: #d3d3d3;
    --b7: #778899;
    --b8: #808080;
    --b01: #0AFFEB;
    --b02: #09BEE8;
    --b04: #1696FF;
    --b05: #014863;
    --b06: #01425C;
    --b07: #013466;
    --b08: #051A4F;
    --b09: #04133B;
    --b10: #091B2A;
}
html, body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}
::-webkit-scrollbar{
    width: 0.3125rem;
    background-color: var(--b05);
}
::-webkit-scrollbar-thumb{
    width: 0.3125rem;
    background-color: var(--b01);
    border-radius: 0.625rem;
}
header{
    width: 100%;
    background-color: var(--b09);
    border-bottom: 1px solid var(--b8);
    padding: 0.625rem 1.25rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    /* position: fixed;
    width: 100%;
    margin-bottom: 0px; */
}
header a{
    color: transparent;
}
.logo-animado{
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.logo-animado:hover{
    color: var(--b01);
    transition: 0.3s ease-in-out;
    text-shadow: 2px 2px 0px black;
}
.developer{ 
    color: var(--b8);
    font-weight: 500;
    font-style: italic;
}
.gilberto{ 
    color: var(--b01);
    font-weight: bold;
    font-style: italic;
}
.maior-menor{
    -webkit-text-stroke: 1px var(--b01);
    /* color: transparent; */
    font-size: 2em;
    font-weight: bold;
}
.maior-menor:hover{
    color: var(--b01);
}
.registrada{
    color: var(--b01);
}

main{
    height: 100%;
    background-color: var(--b08);
    padding: 0.3125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
main h1{
    text-align: center;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
    margin-bottom: 3.125rem;
}
main p{
    text-align: center;
    color: var(--b8);
    text-shadow: 1px 1px 0px black;
}
main strong{
    color: var(--b02);
    text-shadow: 1px 1px 0px black;
}
main .bx{
    text-align: center;
    color: var(--b01);
    font-size: 50px;
    text-shadow: 1px 1px 0px black;
    margin-bottom: 3.125rem;
}

#logo-footer{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#logo-footer .developer{ 
    color: var(--b8);
    font-weight: 500;
    font-style: italic;
}
#logo-footer .gilberto{ 
    color: var(--b01);
    font-weight: bold;
    font-style: italic;
}
#logo-footer .maior-menor{
    -webkit-text-stroke: 1px var(--b01);
    color: transparent;
    font-size: 1.6em;
    font-weight: bold;
}

footer{
    border-top: 1px solid var(--b8);
    background-color: var(--b09);
    text-align: center;
    color: var(--b8);
    padding: 0.625rem;   
}