@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', 'Courier New', Courier, monospace, sans-serif;
    scroll-behavior: smooth;
}
:root{
    --b1: #000000;
    --b2: #0f0f0f;
    --b3: #1e1e1e;
    --b4: #2d2d2d;
    --b5: #3c3c3c;
    --b6: #d3d3d3;
    --b7: #778899;
    --b8: #808080;
    --b01: #0AFFEB;
    --b02: #09BEE8;
    --b04: #1696FF;
    --b05: #014863;
    --b06: #01425C;
    --b07: #013466;
    --b08: #051A4F;
    --b09: #04133B;
    --b10: #091B2A;
}
html, body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}
::-webkit-scrollbar{
    width: 0.3125rem;
    background-color: var(--b05);
}
::-webkit-scrollbar-thumb{
    width: 0.3125rem;
    background-color: var(--b01);
    border-radius: 0.625rem;
}
header{
    width: 100%;
    background-color: var(--b09);
    border-bottom: 1px solid var(--b8);
    padding: 0.625rem 1.25rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    z-index: 1;
    position: fixed;
    width: 100%;
    margin-bottom: 0px;
}
header a{
    color: transparent;
}
.logo-animado{
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.logo-animado:hover{
    color: var(--b01);
    transition: 0.3s ease-in-out;
    text-shadow: 2px 2px 0px black;
}
.developer{ 
    color: var(--b8);
    font-weight: 500;
    font-style: italic;
}
.gilberto{ 
    color: var(--b01);
    font-weight: bold;
    font-style: italic;
}
.maior-menor{
    -webkit-text-stroke: 1px var(--b01);
    /* color: transparent; */
    font-size: 2em;
    font-weight: bold;
}
.maior-menor:hover{
    color: var(--b01);
}
.registrada{
    color: var(--b01);
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul li{
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap;*/ 
    justify-content: center;
    align-items: center;
    margin: 0.3125rem 0.625rem;
}
header nav ul li a{
    margin-left: 1.25rem;
    color: var(--b8);
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
}
header nav ul li a:hover{
    color: var(--b01);
    transition: 0.3s;
}
header nav ul li a .bx{
    color: var(--b01);
    margin: 0.3125rem;
    font-size: 1.5625rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
}
main{
    background-color: var(--b08);
    width: 100%;
    /* margin-top: 96px; */
    padding-top: 9rem;
    /* padding: 3.125rem; */
}
 #home{
    /* height: 100vh; */
    width: 100%;
    padding-bottom: 3.125rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.sobre-mim{
    max-width: 50%;
    padding: 1.25rem;
}
.sobre-mim h2{
    color: var(--b6);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.3;
    text-shadow: 1px 1px 0px black;
}
.GL{
    font-size: 3rem;
    font-weight: bold;
}
.sobre-mim .web-developer{
    text-shadow: 1px 1px 0px black;
    color: var(--b04);
    font-size: 2rem;
    font-weight: bold;
}
.sobre-mim p{
    color: white;
    text-shadow: 1px 1px 0px black;
    text-align: justify;
}
.redes-sociais .bx{
    color: var(--b01);
    font-size: 2.5rem;
    margin: 1.25rem;
}
.redes-sociais .bx:hover{
    text-shadow: 0px 0px 3px var(--b01);
}
.home-img{
    padding: 0.625rem;
    margin-bottom: 3.125rem;
    max-width: 50%;
    margin-left: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.home-img img{
    width: 100%;
    height: 100%;
    border: 1px solid var(--b01);
    border-radius: 50%;
    background-image: linear-gradient(to top, black, var(--b09), var(--b07));
}
.bg-skills{
    height: 400px;
    width: 100%;
    box-shadow: inset 0px 0px 20px var(--b1);
    background-image: url(../img/pexels-lukas-574071.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-skills h2{
    text-align: center;
    font-size: 3em;
    color: var(--b01);
    -webkit-text-stroke: 1px var(--b09);
    text-shadow: 2px 2px 0px black;
}
.section-skills{
    background-color: var(--b09);
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.div-skills{
    max-width: 56.25rem;

    box-shadow: 0px 0px 5px black;
    background-image: linear-gradient(to bottom, var(--b07), var(--b09));
    border: 1px solid var(--b01);
    padding: 1.875rem;
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.div-skills p{
    font-size: 1em;
    text-align: justify;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
}
.div-skills img{

    max-width: 9.375rem;

    border: 1px solid var(--b01);
    border-radius: 50%;
    padding: 0.625rem;
    background-image: linear-gradient(to bottom, var(--b05), var(--b09));
    margin-bottom: 1.875rem;
}
.skill-html{
    min-width: 100%;
    padding: 0.3125rem;
    margin-bottom: 1.25rem;
    border: 1px solid var(--b01);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill-html p{

    background-color: var(--b01);
    width: 70%;
    color: var(--b09);
    font-weight: bold;
    text-shadow: none;
}
.skill-html span{
    color: var(--b01);
}
.skill-css{
    min-width: 100%;
    padding: 0.3125rem;
    margin-bottom: 1.25rem;
    border: 1px solid var(--b01);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill-css p{
    background-color: var(--b01);
    width: 60%;
    color: var(--b09);
    font-weight: bold;
    text-shadow: none;
}
.skill-css span{
    color: var(--b01);
}
.skill-js{
    min-width: 100%;
    padding: 0.3125rem;
    margin-bottom: 1.25rem;
    border: 1px solid var(--b01);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill-js p{
    background-color: transparent;
    width: 100%;
    color: var(--b01);
    font-weight: normal;
    text-shadow: none;
}
.skill-js span{
    color: var(--b01);
}
.bg-projetos{
    height: 400px;
    width: 100%;
    box-shadow: inset 0px 0px 20px var(--b1);
    background-image: url(../img/lampada-projetos.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-projetos h2{
    text-align: center;
    font-size: 3em;
    color: var(--b01);
    -webkit-text-stroke: 1px var(--b09);
    text-shadow: 2px 2px 0px black;
}
.explicacao-projetos{
    margin: 0 auto;
    padding:  3.125rem 1.25rem;
    max-width: 56.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explicacao-projetos p{
    text-align: justify;
    font-size: 1.1em;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
}
.projetos{
    margin: 0 auto;
    max-width: 62.5rem;
    padding:  0rem 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.div-projetos{
    max-width: 100%;

    box-shadow: 0px 0px 5px black;
    background-image: linear-gradient(to bottom, var(--b07), var(--b09));
    border: 1px solid var(--b01);
    padding: 1.875rem;
    margin: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.descricao-projetos{
    width: 50%;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.descricao-projetos a{
    margin-bottom: 1.25rem;
    font-size: 1.6em;
    font-weight: 700;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
}
.descricao-projetos a:hover{
    color: var(--b01);
}
.descricao-projetos p{
    text-align: justify;
    font-size: 1em;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
}
.div-iphone{
    background-image: url(../img/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* width: 311px; */
    width: 300px;
    height: 627px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
iframe{
    border: 2px solid black;
    /* width: 270px; */
    width: 270px;
    height: 475px; 
}
.bg-contato{
    height: 400px;
    width: 100%;
    box-shadow: inset 0px 0px 20px var(--b1);
    background-image: url(../img/81.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.bg-contato h2{
    text-align: center;
    font-size: 3em;
    color: var(--b01);
    -webkit-text-stroke: 1px var(--b09);
    text-shadow: 2px 2px 0px black;
}
.section-contato{
    width: 100%;
    padding: 2.5rem 0.3125rem;
    background-color: var(--b08);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-contato form{
    position: relative;
    overflow: hidden;

    background-color: var(--b09);
    width: 31.25rem;
    padding: 2.5rem 0.625rem;
    margin: 0 auto;
    /* border: 1px solid var(--b01); */
}
.section-contato form span:nth-child(1){
    position: absolute;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, transparent, var(--b01));
    top: 0px;
    left: 0px;
    animation: animar1 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animar1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.section-contato form span:nth-child(2){
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--b01));
    top: 0px;
    right: 0px;
    animation: animar2 2s linear infinite;
}
@keyframes animar2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.section-contato form span:nth-child(3){
    position: absolute;
    height: 1px;
    width: 100%;
    background: linear-gradient(to left, transparent, var(--b01));
    bottom: 0px;
    right: 0px;
    animation: animar3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animar3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.section-contato form span:nth-child(4){
    position: absolute;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, var(--b01));
    bottom: 0px;
    left: 0px;
    animation: animar4 2s linear infinite;
}
@keyframes animar4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.section-contato form h2{
    text-align: center;
    font-size: 1.5em;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
    margin-bottom: 2.5rem;
}
.div-campo{
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.1rem 0.3125rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.div-campo input{
    color: var(--b09);
    font-weight: 700;
    background-color: var(--b6);
    border: 1px solid var(--b01);
    width: 100%;
    outline: none;
    padding: 0.3125rem;
}
.div-campo input:focus{
    border: 2px solid var(--b01);
    border-radius: 1.25rem;
    background-color: var(--b06);
    color: var(--b01);
    font-weight: 500;
    text-shadow: 1px 1px 0px black;
}
.div-campo .bx{
    color: var(--b01);
    padding: 0.3125rem;
    padding-right: 0.625rem;
    font-size: 1.25rem;
}
.div-campo .bx:hover{
    cursor: pointer;
}
.div-textarea{
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.3rem 0.3125rem;

    display: flex;
}
.div-textarea textarea{
    color: var(--b09);
    font-weight: 700;
    background-color: var(--b6);
    border: 1px solid var(--b01);
    width: 100%;
    resize: none;
    outline: none;
    padding: 0.3125rem;
}
.div-textarea textarea:focus{
    border: 2px solid var(--b01);
    border-radius: 0.625rem;
    background-color: var(--b06);
    color: var(--b01);
    font-weight: 500;
    text-shadow: 1px 1px 0px black;
}
.div-textarea .bx{
    color: var(--b01);
    padding: 0.3125rem;
    padding-right: 0.625rem;
    font-size: 1.25rem;
}
.div-textarea .bx:hover{
    cursor: pointer;
}
.div-btn-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-form{
    background-color: var(--b08);
    padding: 0.3125rem 1.25rem;
    margin-left: 1.25rem;
    color: var(--b01);
    font-weight: bold;
    border: 1px solid var(--b01);
    border-radius: 0.3125rem;
}
.btn-form:hover{
    background-color: var(--b01);
    color: var(--b09);
}
#logo-footer{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#logo-footer .developer{ 
    color: var(--b8);
    font-weight: 500;
    font-style: italic;
}
#logo-footer .gilberto{ 
    color: var(--b01);
    font-weight: bold;
    font-style: italic;
}
#logo-footer .maior-menor{
    -webkit-text-stroke: 1px var(--b01);
    color: transparent;
    font-size: 1.6em;
    font-weight: bold;
}
footer{
    border-top: 1px solid var(--b8);
    background-color: var(--b09);
    text-align: center;
    color: var(--b8);
    padding: 0.625rem;   
}